
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Industrial Visit Organising</title>

<!--

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/app1.js"></script>

    </head>

<body ng-app="myApp">



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#featured">Featured Places</a></li>
                        <li><a href="#video">Plan a visit</a></li>
                        <li><a href="#blog">Recent Work</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#">Plan<em> a Visit</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Featured Places
                        </a>
                    </li>

                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Plan a visit
                        </a>
                    </li>
                    <li>
                        <a href="#blog">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Recent Work
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>Discover Innovative<br>Industries</h1>
                          <p>We can help you to visit the most innovative and upcoming nearby industries.</p>
                          <p>Keep in touch with us...</p>
                          <div class="white-button button">
                              <a href="#featured">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Planning is<br>everything</h1>
                          <p>We can also make a plan for your industrial visit.
							<br>Its simple but suitable.</p>

                          <div class="white-button button">
                              <a href="#featured">Share More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Most Trusted<br>Organisation</h1>
                          <p>We planned several industrial visit for many college students<br>and made them a memorable one.</p>

                          <div class="white-button button">
                              <a href="#featured">Learn More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Featured<br><em>Places</em></h1>
                    <p>These are the most featured places,
                    <br>where you can also make a visit.</p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="img/infosys.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Bangalore</h4>

                                <p>#1 Bangalore is home to a wide range of service industries including information technology (IT) and electronics, telecommunications, aerospace, pharmaceuticals, biotechnology, food processing, automobiles, banking and finance, mining, steel, and cement production.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/borl.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Kochin</h4>

                                <p>#2 Major business sectors include construction, manufacturing, shipbuilding, transportation/shipping, seafood and spices exports, chemical industries, information technology (IT), tourism, health services, and banking.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/it.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Hyderabad</h4>

                                <p>#3 The Hyderabad district houses some of the most prestigious industries like Vazir sultan Tobacco, Indian Oxygen, Hyderabad Industries, Thane Transformers company, Kedia Vanspati (Agarwal Industries) etc besides various public sector undertakings.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/Trivandrum.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Trivandrum</h4>

                                <p>#4 Companies such as Travancore Titanium Products Ltd, the leading manufacturer of anatase grade titanium dioxide in Asia, English Indian Clays Limited, Kerala Automobiles Ltd, the leading public sector company in manufacturing three-wheelers in south India are located in the city</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/goa.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Goa</h4>

                                <p>#5 Goa has a strong presence in mining, tourism, and pharmaceuticals sectors. Mining (iron ore and manganese), pharmaceuticals, iron and steel industries are present in North Goa, while mining and shipbuilding industries are present in South Goa.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/jaipur.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Jaipur</h4>

                                <p>#6 Federation of Indian Chambers of Commerce & Industry, (FICCI) the PHD Chamber of Commerce and Industry (PHDCCI) and the Confederation of Indian Industry (CII) which has its regional offices here.Jaipur is a major hub for arts and crafts.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/vishk.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Vishakapatnam</h4>

                                <p>#7 Fishing industry, road–rail connectivity, many heavy industries like Hindustan Petroleum, Visakhapatnam Steel Plant, Hindustan Shipyard, Visakhapatnam Port Trust, National Thermal Power, Bharat Heavy Electricals, BARC, Naval Science and Technological Laboratory, Naval Dockyard, Dredging Corporation of India</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/haridwar.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Haridwar</h4>

                                <p>#8 BHEL, Haridwar has two manufacturing plants, Heavy Electricals Equipment Plant (HEEP) and Central Foundry Forge Plant (CFFP). It also has a Pollution Control Research Institute, PCRI. The Heavy Electricals Equipment Plant is one of the major manufacturing units of BHEL.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/delhi.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Plan a visit</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Delhi</h4>

                                <p>#9 The key industries include Information Technology,Telecommunications,Hotels, Media, Banking and Tourism. The manufacturing industries of Delhi has also expanded as many consumer goods industries have established manufacturing units and offices in the region.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Plan for a <em>Visit</em> here!!!</h1><br>

                        </div>
                        <div>
                          <h3>Places and their prices</h3>
                          <ul id ="place1"></ul>
                          <ul id ="place2"></ul>
                          <ul id ="place3"></ul>
                          <ul id ="place4"></ul>
                          <ul id ="place5"></ul>
                        </div>
                        <form>
  <h3>Pick your department:</h3> <br>
  <p><input type="radio" ng-model="myVar" value="It">IT</p>
  <p><input type="radio" ng-model="myVar" value="Ece">ECE</p>
  <p><input type="radio" ng-model="myVar" value="EEE">EEE</p>
  <p><input type="radio" ng-model="myVar" value="MECH">MECH</p>
  <p><input type="radio" ng-model="myVar" value="CS">CS</p>
</form>

<div ng-switch="myVar">
  <div ng-switch-when="It" ng-controller="List1Controller">
     <h3>Information Technology</h3>
     <h4>Places Recommended</h4>
<ul>
  <li ng-repeat="x in names1">{{x}}</li>
</ul>

  </div>
  <div ng-switch-when="Ece" ng-controller="List2Controller">
     <h3>Electronics and Communications Engineering</h3>
     <h4>Places Recommended</h4>
<ul>
  <li ng-repeat="x in names2">{{x}}</li>
</ul>  </div>
  <div ng-switch-when="EEE" ng-controller="List3Controller">
     <h3>Electrical and Eelectronics Engineering</h3>
     <h4>Places Recommended</h4>
<ul>
  <li ng-repeat="x in names3">{{x}}</li>
</ul>
  </div>
  <div ng-switch-when="MECH" ng-controller="List4Controller">
     <h3>Mechanical Engineering</h3>
     <h4>Places Recommended</h4>
<ul>
  <li ng-repeat="x in names4">{{x}}</li>
</ul>
  </div>
  <div ng-switch-when="CS" ng-controller="List5Controller">
     <h3>Computer Science Engineering</h3>
     <h4>Places Recommended</h4>
  <ul>
  <li ng-repeat="x in names5">{{x}}</li>
  </ul>
  </div>

</div>



                        <div class="accent-button button" >
                            <a href="#blog">Plan a visit</a>
                        </div>
                      <div ng-controller="DateController">
                      <div ng-controller="AppController">
                        <h3> Date: {{ today | date }}</h3>
                        <h4>{{message}}<h4>
                      </div>
                    </div>
<my-directive> </my-directive> <br>
<br>
<div ng-app="myApp" ng-controller="EvtCtrl">

<button ng-click="myFunc()">Packages</button>

<div ng-show="showMe">
  <h3>Existing packages:</h3>
  <div>2D-1N :2500 per head</div>
  <div>3D-2N :4000 per head</div>
  <div>4D-1N :6200 per head</div>
</div>

</div>
            </section>
            <section id="blog" class="content-section">
                <div class="section-heading">
                    <h1>Recent<br><em>Visit</em></h1>
                    <div ng-app="myApp" ng-controller="DateController">
<h1> Date: {{ today | date }}</h1>
</div>
<div ng-controller="wrkCtrl">
  <h3>Total Visit Planned so far : {{tot}}</h3>
</div>
<div ng-controller="TotCtrl">
  <h3>Total Workers : {{tot}}</h3>
</div>

</div>
                <div class="section-content">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                              <li><a href="#tab1" class="active">August 2020</a></li>
                              <li><a href="#tab2">September 2020</a></li>
                              <li><a href="#tab3">October 2020</a></li>
                              <li><a href="#tab4">November 2020</a></li>
                            </ul>
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="img/download.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>No activities due to lockdown</h4>

                                                    <p>Sorry for our inconvenience, due to lockdown we were unable to plan a visit for this month.</p>

                                                    <div class="accent-button button">
                                                        <a href="#contact">Stay Safe</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div id="tab2">
                                    <ul>
                                        <li>
                                            <div class="item" ng-controller="MsgController">
                                                <img src="img/download.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>{{error}}</h4>

                                                    <p>Sorry for our inconvenience, due to lockdown we were unable to plan a visit for this month.</p>

                                                    <div class="accent-button button">
                                                        <a href="#contact">Stay Safe</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div id="tab3">
                                    <ul>
                                        <li>
                                            <div class="item" ng-controller="MsgController">
                                                <img src="img/download.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>{{error}}</h4>

                                                    <p>Sorry for our inconvenience, due to lockdown we were unable to plan a visit for this month.</p>

                                                    <div class="accent-button button">
                                                        <a href="">Stay Safe</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div id="tab4">
                                    <ul>
                                        <li>
                                            <div class="item" ng-controller="MsgController">
                                              <img src="img/download.jpg" alt="">
                                                <div class="text-content">
                                                  <h4>{{error}}</h4>

                                                  <p>Sorry for our inconvenience, due to lockdown we were unable to plan a visit for this month.</p>
                                                  <div class="accent-button button">
                                                      <a href="">Stay Safe</a>
                                                  </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                   </ul>
                                </div>


                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="content-section">
                <div>
                  <center><h2 id="demo"></h2>
                  <h4 id="demo1"></h4></center>

<script>
var parser, xmlDoc;
var text = "<places><price>" +
"<title>Thanks for Visiting Us !!!</title>" +
"<contact>Email : idharanitharan@gmail.com</contact>" +
"</price></places>";

parser = new DOMParser();
xmlDoc = parser.parseFromString(text,"text/xml");

document.getElementById("demo").innerHTML =
xmlDoc.getElementsByTagName("title")[0].childNodes[0].nodeValue;
document.getElementById("demo1").innerHTML =
xmlDoc.getElementsByTagName("contact")[0].childNodes[0].nodeValue;
</script>

                </div>
            </section>

        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script>
    var text = '{"places":['+
   '{"name": "Hyderabad","id": "1","price": "1000 per head"},'+
   '{"name": "Delhi","id": "2","price": "2400 per head"},'+
   '{"name": "Trivandrum","id": "3", "price": "800 per head"},'+
   '{"name": "Ooty","id": "4","price": "450 per head"},'+
   '{"name": "Bangalore","id": "5","price": "1350 per head"}]}';


  var obj = JSON.parse(text);
   document.getElementById("place1").innerHTML =  "<li>" + obj.places[0].name + " - " +  obj.places[0].price + "</li>" ;
    document.getElementById("place2").innerHTML =  "<li>" + obj.places[1].name + " - " +  obj.places[1].price + "</li>" ;
     document.getElementById("place3").innerHTML =  "<li>" + obj.places[2].name + " - " +  obj.places[2].price + "</li>" ;
      document.getElementById("place4").innerHTML =  "<li>" + obj.places[3].name + " - " +  obj.places[3].price + "</li>" ;
       document.getElementById("place5").innerHTML =  "<li>" + obj.places[4].name + " - " +  obj.places[4].price + "</li>" ;

</script>



</body>
</html>
